.container .icon img {
    width: 16px;
    height: 16px;
}

.container {
    border: 1px solid red;
    width: 600px;
    margin: 0 auto;
    background-color: silver;
}
.container table {
    width: 100%;
    margin: 4px;
    border-collapse: collapse;
}
.container table th {
    background-color: darkgray;
}
.container table td img {
    width: 16px;
    height: 16px;
}
.container .hello {
    border-bottom: 1px dotted red;
    margin: 0;
    padding: 8px;
    text-align: center;
    color: red;
    position: relative;
}
.container form {
    padding: 16px;
    max-width: 300px;
}
.container .signout{
    margin-top: 20px;
    text-align: center;
}
.container .add {
    display: inline;
    position: absolute;
    right: 8px;
    color: black;
}
.container .add a {
    text-decoration: none;
}
.thanhcong {
    font-size: 24px;
    color: green;
    font-style: italic;
    height: 18px;
    text-align: center;
}
.center {
    text-align: center;
}

.container .body, .container .navigation,.container .select, .container .footer{
    display: flex;
    justify-content: center;
}
.container .select {
    margin: 2px 0;
}
#tensp {
    font-size: 18px;
    font-weight: bold;
}
#giasp {
    color: red;
    font-weight: bold;
    margin: 4px 0;
}

#chitietsp {
    font-size: 14px;
    opacity: 0.7;
}

textarea {
    width: 268px;
    resize: none;
    padding: 16px;
}